In [ ]:
class Pessoa:
    def __init__(self, nome, nomePai, nomeMae,  idade, cpf, altura):
        self.nomePai = nomePai
        self.nomeMae = nomeMae
        self.nome = nome
        self.idade = idade
        self.cpf = cpf
        self.altura = altura

    def __add__(self, other):
        return self.idade + other.idade

    def __sub__(self, other):
        return self.idade - other.idade

    def __mul__(self, other):
        print("nome do pai: ", other.nome)
        print("nome da mae: ", self.nome)
        return Pessoa("FilhoNovo", other.nome, self.nome,  0, "00000000000", 0)

    def __gt__(self, other):
        return self.idade > other.idade

    def __lt__(self, other):
        return self.idade < other.idade

    def __eq__(self, other):
        return self.cpf == other.cpf

    def __len__(self):
        return self.altura

    def __str__(self):
        return (f"nome={self.nome}, idade={self.idade}, cpf={self.cpf}, altura={self.altura}, pai={self.nomePai}, mãe={self.nomeMae}")

    def setNome(self, nome):
      self.nome = nome

In [ ]:
p1 = Pessoa("Carlos", "João", "Maria",  30, "12345678900", 175)
p2 = Pessoa("Fernanda", "José", "Ana",  25, "98765432100", 165)

In [ ]:
print("p1:", p1)
print("p2:", p2)1

p1: nome=Carlos, idade=30, cpf=12345678900, altura=175, pai=João, mãe=Maria
p2: nome=Fernanda, idade=25, cpf=98765432100, altura=165, pai=José, mãe=Ana

In [ ]:
print("p1 e p2 são a mesma pessoa?", p1 == p2)

p1 e p2 são a mesma pessoa? False

In [ ]:
print("Diferença das idades:", p1 - p2, " anos")

Diferença das idades: 5  anos

In [ ]:
print("Altura de p1 é:", len(p1), "cm")

Altura de p1 é: 175 cm

In [ ]:
print("Altura de p2 é:", len(p2), "cm")

Altura de p2 é: 165 cm

In [ ]:
print("p1 é mais velho que p2 ?", p1 > p2)
print("p1 é mais novo que p2 ?", p1 < p2)

p1 é mais velho que p2 ? True
p1 é mais novo que p2 ? False

In [ ]:
filho = p2 * p1
print("Filho de p1 e p2:", filho)

nome do pai:  Carlos
nome da mae:  Fernanda
Filho de p1 e p2: nome=FilhoNovo, idade=0, cpf=00000000000, altura=0, pai=Carlos, mãe=Fernanda

In [ ]:
filho.setNome("Pedro")

In [ ]:
print("Filho de p1 e p2:", filho)

Filho de p1 e p2: nome=Pedro, idade=0, cpf=00000000000, altura=0, pai=Carlos, mãe=Fernanda

#Questão 2

In [ ]:
a = int(input("Digite o primeiro número (a): "))
b = int(input("Digite o segundo número (b): "))

Digite o primeiro número (a): 2
Digite o segundo número (b): 2

In [ ]:
soma = a.__add__(b)
subtracao = a.__sub__(b)
multiplicacao = a.__mul__(b)
divisao = a.__truediv__(b)

In [ ]:
print(f"O resultado da soma é {soma}")
print(f"O resultado da subtração é {subtracao}")
print(f"O resultado da multiplicação é {multiplicacao}")
print(f"O resultado da divisão é {divisao}")

O resultado da soma é 4
O resultado da subtração é 0
O resultado da multiplicação é 4
O resultado da divisão é 1.0

#Questão 3

In [ ]:
class Funcionario:
    def __init__(self, nome, salarioBase):
        self.nome = nome
        self.salarioBase = salarioBase

    def getSalarioTotal(self):
        return self.salarioBase

    def getSalarioBase(self):
      return self.salarioBase

    def __gt__(self, other):
        return self.getSalarioTotal() > other.getSalarioTotal()

    def __str__(self):
        return f"Funcionario : nome={self.nome}, salarioBase={self.salarioBase}"


class Gerente(Funcionario):
    def __init__(self, nome, salarioBase, bonus):
        super().__init__(nome, salarioBase)
        self.bonus = bonus

    def getSalarioTotal(self):
        return self.salarioBase + self.bonus

    def getBonus(self):
      return self.bonus

    def __add__(self, adiçãoDeBonus):
        self.bonus = self.bonus + adiçãoDeBonus
        return self.bonus

    def __str__(self):
        return (f"Gerente : nome={self.nome}, salarioBase={self.salarioBase}, bonus={self.bonus}, salarioTotal={self.getSalarioTotal()}")

In [ ]:
f1 = Funcionario("Alice", 30)
f2 = Funcionario("Bruno", 35)

g1 = Gerente("Carlos", 40, 20)
g2 = Gerente("Diana", 45, 20)

print(f1)
print(f2)
print(g1)
print(g2)

Funcionario : nome=Alice, salarioBase=30
Funcionario : nome=Bruno, salarioBase=35
Gerente : nome=Carlos, salarioBase=40, bonus=20, salarioTotal=60
Gerente : nome=Diana, salarioBase=45, bonus=20, salarioTotal=65

In [ ]:
print(f1.getSalarioTotal())
print(g1.getSalarioTotal())

30
60

In [ ]:
print("O salário de g1: " , g1.getSalarioTotal())
print("O salário de f1: " , f1.getSalarioTotal())
print("O salário de g1 é maior que o salario de f1? ", g1 > f1)

O salário de g1:  60
O salário de f1:  30
O salário de g1 é maior que o salario de f1?  True

In [ ]:
print("O salário de g1: " , g1.getSalarioTotal())
print("O salário de g2: " , g2.getSalarioTotal())
print("O salário de g1 é maior que o salario de g2? ", g1 > g2)

O salário de g1:  60
O salário de g2:  65
O salário de g1 é maior que o salario de g2?  False

In [ ]:
g1.getBonus()

20

In [ ]:
print("Relatorio mes a mês do salário de g1 em um ano com aumento de 10 no seu bonus por mês")

for i in range(12):
  g1 + 10     #Discussão: O que há de estranho nesta construção?
  print("Mes ", i)
  print("O salário Base de g1: ", g1.getSalarioBase())
  print("O bonus de g1: ", g1.getBonus())
  print("O salário TOTAL de g1: " , g1.getSalarioTotal())

Relatorio mes a mês do salário de g1 em um ano com aumento de 10 no seu bonus por mês
Mes  0
O salário Base de g1:  40
O bonus de g1:  30
O salário TOTAL de g1:  70
Mes  1
O salário Base de g1:  40
O bonus de g1:  40
O salário TOTAL de g1:  80
Mes  2
O salário Base de g1:  40
O bonus de g1:  50
O salário TOTAL de g1:  90
Mes  3
O salário Base de g1:  40
O bonus de g1:  60
O salário TOTAL de g1:  100
Mes  4
O salário Base de g1:  40
O bonus de g1:  70
O salário TOTAL de g1:  110
Mes  5
O salário Base de g1:  40
O bonus de g1:  80
O salário TOTAL de g1:  120
Mes  6
O salário Base de g1:  40
O bonus de g1:  90
O salário TOTAL de g1:  130
Mes  7
O salário Base de g1:  40
O bonus de g1:  100
O salário TOTAL de g1:  140
Mes  8
O salário Base de g1:  40
O bonus de g1:  110
O salário TOTAL de g1:  150
Mes  9
O salário Base de g1:  40
O bonus de g1:  120
O salário TOTAL de g1:  160
Mes  10
O salário Base de g1:  40
O bonus de g1:  130
O salário TOTAL de g1:  170
Mes  11
O salário Base de g1:  40
O bonus de g1:  140
O salário TOTAL de g1:  180

In [ ]:
g1.getBonus()

140